<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Julie Alary ", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "| Accueil |",      root_path %></li>
        <li><%= link_to "| Réalisations |",    portfolio_path %></li>
        <li><%= link_to "| Parcours |",     parcours_path %></li>
        <li><%= link_to "| Contact |",      contact_path %></li>
      </ul>
    </nav>
  </div>
</header>